# .env_twitch_events
# replace the values with your own values
# replace the urls/ports with the values u used to set-up your twitch-cli (brew-thingy)
TWITCH_CLI_MOCK_API_URL=http://localhost:5555/mock/
AUTH_BASE_URL=http://localhost:5555/auth/
TWITCH_CLI_CONNECTION_URL=ws://127.0.0.1:5556/ws
TWITCH_SUBSCRIPTION_URL=http://127.0.0.1:5556/
# - variable - values generated with twitch mock-api-generate
CLI_USER_ID=6548654    
CLI_CLIENTID=client_id generated
CLI_CLIENT_SECRET=client_secret generated